/lib/
node_modules/
/node_modules/
json/
/json/
target/
/target/
/tmp/
tmp/*
/temp/
/data/
/data
go/data/*
js/data/*
js/tmp/*
tmp/*
*.zip
*.db
*.lock
/__pycache__/
__pycache__/
config.js
js/config.js
